<div class="container-fluid bg-primary">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-dark bg-primary text-white navbar-expand-sm">
                        <a class="navbar-brand"><i class="material-icons vertical-align-middle">
                            local_dining
                          </i>Nutritionist
                        </a>
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcontent">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navcontent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item" *ngIf="!loggedInUser">
                                    <a [routerLink]="['/login']" routerLinkActive="active" class="nav-link">Login</a>
                                </li>
                                <li class="nav-item" *ngIf="!loggedInUser">
                                    <a [routerLink]="['/sign-up']" routerLinkActive="active" class="nav-link">Sign
                                        Up</a>
                                </li>
                                <li class="nav-item" *ngIf="loggedInUser">
                                    <a [routerLink]="['/menu']" routerLinkActive="active" class="nav-link"><i class="material-icons vertical-align-middle">
                                            person
                                          </i>{{loggedInUser.username}}</a>
                                </li>
                                <li class="nav-item" *ngIf="loggedInUser">
                                    <a [routerLink]="['/favorites']" routerLinkActive="active" class="nav-link">Favorites</a>
                                </li>
                                <li class="nav-item" *ngIf="loggedInUser">
                                    <a [routerLink]="['/login']" routerLinkActive="active" (click)="logout()" class="nav-link">Log Out</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>