/* You can add global styles to this file, and also import other style files */
.text-bold{
    font-weight: bold;
}
.font-size-20{
    font-size: 20px;
}
.vertical-align-middle{
    vertical-align: middle;
}
.cursor-pointer{
    cursor: pointer;
}